{% extends 'base.html' %}

{% load staticfiles %}

{% block title_block %}{{category.slug}}{% endblock %}

{% block body_block %}

        <h1>{{ category_name }}</h1>
        {% if category %}
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category111.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
        {% if user.is_authenticated %}
        <a href="/rango/category/{{category.slug}}/add_page/">Add a New Page</a><br />
        {% endif %}
{% endblock %}
<!--<!DOCTYPE html>-->
<!--<html>-->
    <!--<head>-->
        <!--<title>Rango</title>-->
    <!--</head>-->

    <!--<body>-->
        <!--<h1>{{ category_name }}</h1>-->
        <!--{% if category %}-->
            <!--{% if pages %}-->
            <!--<ul>-->
                <!--{% for page in pages %}-->
                <!--<li><a href="{{ page.url }}">{{ page.title }}</a></li>-->
                <!--{% endfor %}-->
            <!--</ul>-->
            <!--{% else %}-->
                <!--<strong>No pages currently in category111.</strong>-->
            <!--{% endif %}-->
        <!--{% else %}-->
            <!--The specified category {{ category_name }} does not exist!-->
        <!--{% endif %}-->
        <!--{% if user.is_authenticated %}-->
        <!--<a href="/rango/category/{{category.slug}}/add_page/">Add a New Page</a><br />-->
        <!--{% endif %}-->
    <!--</body>-->
<!--</html>-->

